target/
!.mvn/wrapper/maven-wrapper.jar
/index.css

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### OS files ###
.DS_Store
Thumbs.db
